@import 'config';
@import 'menu';


* {
  box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height:100%;
  margin:0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,h2,h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;
  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem, 1rem;
    background: rgba(lighten($primary-color, 2),$background-opacity);
  }
}

a{
  color:#fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%
}

.text-secondary{
  color: $secondary-color;
  font-weight: bold;
}

main{
  padding: 4rem;
  //Make footer stick at the bottom;
  //height: 100%;
  //set the min-height=contentheight-footerheight
  min-height: calc(100vh - 50px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//define grid-area;
.bio-image{
  grid-area:bioimage;
  border-radius: 50%;
  border: $secondary-color 5px solid;
  margin:auto;
}
.bio{
  grid-area:bio;
  font-size: 1.2rem;
  p{
    span{font-size:0.9rem;}
  }
}
.job job-1 {grid-area:job1;}
.job job-2 {grid-area:job2;}
.job job-3 {grid-area:job3;}

.about-info{
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: repeat(3,1fr);//1fr, 1fr, 1fr
}

.job{
  background: lighten($primary-color, 6);
  padding: 0.5rem;
  margin-top: 2rem;
  border-bottom: $secondary-color 5px solid;
  p{font-size: 0.9rem;}
  h3{font-weight: bold;}
}

/************WORK************/
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 4px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.appDesign {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(1, 1fr);

  img {
    width: 100%;
    border: 1px dotted lightGray;
  }

  .text-analysis {
    background-color: black;
    opacity: 0.4;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
.designWork {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 80%;
    border: 1px #9d1d22 solid;
    margin-bottom: 2rem;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
/************Contact************/
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.8rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer{
  text-align:center;
  padding:0.75rem;
  background: darken($primary-color,9);
  height:50px;
}

@import 'mobile'; //import at the very bottom; so run after initial css
